	<div class="row">
        <div class="col-md-12 bck-image image1"></div>
        <div class="col-md-12">
          <div>
            <div>
              <h2>Prochaine date</h2>
              <p ng-bind-html="bindNextConcert()" class="text-center"></p>
            </div>
            <div class="clear"></div><br/>
            <h2>News</h2>
            <div ng-bind-html="bindHtmlContent()" class="wysiwyg-content"></div>
          </div>
        </div>
				<div class="clear"></div><br/>
        <!--div class="col-md-12">
          <div ng-controller="CarouselCtrl" class="carousel">
            <div style="height: 305px">
              <carousel interval="myInterval" no-wrap="noWrapSlides">
                <slide ng-repeat="slide in slides" active="slide.active">
                  <img ng-src="//slide.image//" style="margin:auto;">
                  <div class="carousel-caption">
                    <p>//slide.text//</p>
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
        </div-->
      </div>
