# Redirect incoming URLs to index.php
<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteCond %{HTTP_HOST} ^tfjass\.fr
    RewriteRule (.*) http://www.tfjass.fr/$1 [R=301,L]

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
